In [ ]:
# Installing required packages
!pip install pyspark
!pip install findspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)
Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl.metadata (352 bytes)
Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1

In [ ]:
import findspark
findspark.init()

In [ ]:
# PySpark is the Spark API for Python. In this lab, we use PySpark to initialize the spark context.
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession

In [ ]:
# Creating a spark context class, which is a driver
sc = SparkContext()

import dataframe

In [ ]:
# Creating a spark session
spark = SparkSession \
    .builder \
    .appName("Python Spark DataFrames Import Student") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [102]:
dataframe = spark.read.csv("student.csv",header = 'true', inferSchema = 'true')
dataframe.show()
dataframe.printSchema()

+---+---------+-----+-------+-----+------------+----------+----------------+----+----+----+----+----+----+----+----+----+----+----+----+
|No.|StudentID|Major|    _c3|Title|        Name|MiddleName|        LastName| GPA| AGE|_c10|_c11|_c12|_c13|_c14|_c15|_c16|_c17|_c18|  12|
+---+---------+-----+-------+-----+------------+----------+----------------+----+----+----+----+----+----+----+----+----+----+----+----+
|  1|  6480125| ICCI|EGCI466|  Mr.|     Pachara|      NULL|     Akkanwanich| 2.5|  20|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|
|  2|  6480138| ICCI|EGCI466|  Mr.|      Pavorn|      NULL|        Thongyoo| 2.9|  19|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|
|  3|  6480358| ICCI|EGCI466|  Mr.|    Rapeepat|      NULL|   Pokpattanakul|NULL|  20|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|
|  4|  6480376| ICCI|EGCI466|  Ms.|    Jitsopin|      NULL|      Kanthaulis| 1.6|  15|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|
|  5|  6480539| ICCI|EGCI466|  Mr.|  Prompiriya|          |     Thaksinorot|NULL|  20|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|
|  6|  6480566| ICCI|EGCI466|  Mr.|     Norawat|          |        Gajaseni|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|
|  7|  6480963| ICCI|EGCI466|  Mr.|Sirinuttawat|      NULL|   Supavachapong|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|
|  8|  6481054| ICCI|EGCI466|  Mr.|     Eakawit|      NULL|        NONTAPOT|NULL|  26|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|
|  9|  6481101| ICCI|EGCI466|  Mr.|      Pranai|      NULL|     TISAYATIKOM| 1.9|  25|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|
| 10|  6481152| ICCI|EGCI466|  Mr.|       Tipok|      NULL|         KANNGAN|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|
| 11|  6481176| ICCI|EGCI466|  Mr.|    Charupat|      NULL|     TRAKULCHANG| 3.6|  30|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|
| 12|  6481178| ICCI|EGCI466|  Mr.|     Promsan|      NULL|    PANASAKULKAN|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|
| 13|  6481205| ICCI|EGCI466|  Mr.|   Thanapoom|      NULL|     TANALAKWONG|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|
| 14|  6481221| ICCI|EGCI466|  Mr.|     Teetath|      NULL|        TEERAKIJ| 2.4|  26|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|
| 15|  6481299| ICCI|EGCI466|  Ms.|    Thananya|      NULL|     OSOCHPROMMA|NULL|  20|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|
| 16|  6481305| ICCI|EGCI466|  Mr.|   Suttikarn|      NULL|        KHUNTONG|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|
| 17|  6481322| ICCI|EGCI466|  Mr.|        Mark| Kittiphat|   KUPRASERTWONG| 3.0|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|
| 18|  6481324| ICCI|EGCI466|  Mr.|   Karndanai|      NULL|UDOMSIRIPHOCKSAI| 1.7|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|
| 19|  6481366| ICCS|EGCI466|  Ms.|   Chinanard|      NULL|      SATHITSETH|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|
| 20|  6580043| ICCI|EGCI466|  Mr.|       Pakin|      NULL|  PANAWATTANAKUL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|
+---+---------+-----+-------+-----+------------+----------+----------------+----+----+----+----+----+----+----+----+----+----+----+----+
only showing top 20 rows

root
 |-- No.: integer (nullable = true)
 |-- StudentID: integer (nullable = true)
 |-- Major: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- Title: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- MiddleName: string (nullable = true)
 |-- LastName: string (nullable = true)
 |-- GPA: double (nullable = true)
 |-- AGE: integer (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)
 |-- _c12: string (nullable = true)
 |-- _c13: string (nullable = true)
 |-- _c14: string (nullable = true)
 |-- _c15: string (nullable = true)
 |-- _c16: string (nullable = true)
 |-- _c17: string (nullable = true)
 |-- _c18: string (nullable = true)
 |-- 12: string (nullable = true)

In [103]:
dataframe.columns

['No.',
 'StudentID',
 'Major',
 '_c3',
 'Title',
 'Name',
 'MiddleName',
 'LastName',
 'GPA',
 'AGE',
 '_c10',
 '_c11',
 '_c12',
 '_c13',
 '_c14',
 '_c15',
 '_c16',
 '_c17',
 '_c18',
 '12']

In [104]:
dataframe = dataframe.drop(*dataframe.columns[-10:])

In [105]:
dataframe = dataframe.drop('No.')
dataframe = dataframe.drop('_c3')

In [106]:
dataframe.show()

+---------+-----+-----+------------+----------+----------------+----+----+
|StudentID|Major|Title|        Name|MiddleName|        LastName| GPA| AGE|
+---------+-----+-----+------------+----------+----------------+----+----+
|  6480125| ICCI|  Mr.|     Pachara|      NULL|     Akkanwanich| 2.5|  20|
|  6480138| ICCI|  Mr.|      Pavorn|      NULL|        Thongyoo| 2.9|  19|
|  6480358| ICCI|  Mr.|    Rapeepat|      NULL|   Pokpattanakul|NULL|  20|
|  6480376| ICCI|  Ms.|    Jitsopin|      NULL|      Kanthaulis| 1.6|  15|
|  6480539| ICCI|  Mr.|  Prompiriya|          |     Thaksinorot|NULL|  20|
|  6480566| ICCI|  Mr.|     Norawat|          |        Gajaseni|NULL|NULL|
|  6480963| ICCI|  Mr.|Sirinuttawat|      NULL|   Supavachapong|NULL|NULL|
|  6481054| ICCI|  Mr.|     Eakawit|      NULL|        NONTAPOT|NULL|  26|
|  6481101| ICCI|  Mr.|      Pranai|      NULL|     TISAYATIKOM| 1.9|  25|
|  6481152| ICCI|  Mr.|       Tipok|      NULL|         KANNGAN|NULL|NULL|
|  6481176| ICCI|  Mr.|    Charupat|      NULL|     TRAKULCHANG| 3.6|  30|
|  6481178| ICCI|  Mr.|     Promsan|      NULL|    PANASAKULKAN|NULL|NULL|
|  6481205| ICCI|  Mr.|   Thanapoom|      NULL|     TANALAKWONG|NULL|NULL|
|  6481221| ICCI|  Mr.|     Teetath|      NULL|        TEERAKIJ| 2.4|  26|
|  6481299| ICCI|  Ms.|    Thananya|      NULL|     OSOCHPROMMA|NULL|  20|
|  6481305| ICCI|  Mr.|   Suttikarn|      NULL|        KHUNTONG|NULL|NULL|
|  6481322| ICCI|  Mr.|        Mark| Kittiphat|   KUPRASERTWONG| 3.0|NULL|
|  6481324| ICCI|  Mr.|   Karndanai|      NULL|UDOMSIRIPHOCKSAI| 1.7|NULL|
|  6481366| ICCS|  Ms.|   Chinanard|      NULL|      SATHITSETH|NULL|NULL|
|  6580043| ICCI|  Mr.|       Pakin|      NULL|  PANAWATTANAKUL|NULL|NULL|
+---------+-----+-----+------------+----------+----------------+----+----+
only showing top 20 rows

remove dulps

In [107]:
dataframe = dataframe.dropDuplicates()

In [108]:
dataframe.show()

+---------+-----+-----+------------+----------+----------------+----+----+
|StudentID|Major|Title|        Name|MiddleName|        LastName| GPA| AGE|
+---------+-----+-----+------------+----------+----------------+----+----+
|  6481205| ICCI|  Mr.|   Thanapoom|      NULL|     TANALAKWONG|NULL|NULL|
|  6580195| ICCI|  Mr.|       Pibhu|      NULL| CHITBURANACHART|NULL|  18|
|  6481152| ICCI|  Mr.|       Tipok|      NULL|         KANNGAN|NULL|NULL|
|  6481221| ICCI|  Mr.|     Teetath|      NULL|        TEERAKIJ| 2.4|  26|
|  6580871| ICCI|  Ms.|    Thitirat|      NULL|  KULPORNPAISARN|NULL|  15|
|  6580065| ICCI|  Ms.|    Pitchapa|      NULL|    PHISUTPICHET|NULL|  17|
|  6481305| ICCI|  Mr.|   Suttikarn|      NULL|        KHUNTONG|NULL|NULL|
|  6480539| ICCI|  Mr.|  Prompiriya|          |     Thaksinorot|NULL|  20|
|  6580081| ICCI|  Ms.| Nitchayanin|      NULL|     THAMKUNANON|NULL|  19|
|  6480963| ICCI|  Mr.|Sirinuttawat|      NULL|   Supavachapong|NULL|NULL|
|  6481101| ICCI|  Mr.|      Pranai|      NULL|     TISAYATIKOM| 1.9|  25|
|  6481324| ICCI|  Mr.|   Karndanai|      NULL|UDOMSIRIPHOCKSAI| 1.7|NULL|
|  6481178| ICCI|  Mr.|     Promsan|      NULL|    PANASAKULKAN|NULL|NULL|
|  6481366| ICCS|  Ms.|   Chinanard|      NULL|      SATHITSETH|NULL|NULL|
|  6480358| ICCI|  Mr.|    Rapeepat|      NULL|   Pokpattanakul|NULL|  20|
|  6480376| ICCI|  Ms.|    Jitsopin|      NULL|      Kanthaulis| 1.6|  15|
|  6581117| ICCI|  Mr.|    Supakorn|      NULL|        PANYADEE|NULL|NULL|
|  6481322| ICCI|  Mr.|        Mark| Kittiphat|   KUPRASERTWONG| 3.0|NULL|
|  6580043| ICCI|  Mr.|       Pakin|      NULL|  PANAWATTANAKUL|NULL|NULL|
|  6480125| ICCI|  Mr.|     Pachara|      NULL|     Akkanwanich| 2.5|  20|
+---------+-----+-----+------------+----------+----------------+----+----+
only showing top 20 rows

Capitalized name

In [109]:
from pyspark.sql.functions import udf #user defined function

In [110]:
def capitalized(str):
  return str.upper()

In [111]:
upperCase = udf(lambda z: capitalized(z))

In [112]:
dataframe.printSchema()

root
 |-- StudentID: integer (nullable = true)
 |-- Major: string (nullable = true)
 |-- Title: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- MiddleName: string (nullable = true)
 |-- LastName: string (nullable = true)
 |-- GPA: double (nullable = true)
 |-- AGE: integer (nullable = true)

In [113]:
dataframe = dataframe.withColumn('UppercaseName', upperCase(dataframe['Name']))

In [114]:
dataframe.show()

+---------+-----+-----+------------+----------+----------------+----+----+-------------+
|StudentID|Major|Title|        Name|MiddleName|        LastName| GPA| AGE|UppercaseName|
+---------+-----+-----+------------+----------+----------------+----+----+-------------+
|  6481205| ICCI|  Mr.|   Thanapoom|      NULL|     TANALAKWONG|NULL|NULL|    THANAPOOM|
|  6580195| ICCI|  Mr.|       Pibhu|      NULL| CHITBURANACHART|NULL|  18|        PIBHU|
|  6481152| ICCI|  Mr.|       Tipok|      NULL|         KANNGAN|NULL|NULL|        TIPOK|
|  6481221| ICCI|  Mr.|     Teetath|      NULL|        TEERAKIJ| 2.4|  26|      TEETATH|
|  6580871| ICCI|  Ms.|    Thitirat|      NULL|  KULPORNPAISARN|NULL|  15|     THITIRAT|
|  6580065| ICCI|  Ms.|    Pitchapa|      NULL|    PHISUTPICHET|NULL|  17|     PITCHAPA|
|  6481305| ICCI|  Mr.|   Suttikarn|      NULL|        KHUNTONG|NULL|NULL|    SUTTIKARN|
|  6480539| ICCI|  Mr.|  Prompiriya|          |     Thaksinorot|NULL|  20|   PROMPIRIYA|
|  6580081| ICCI|  Ms.| Nitchayanin|      NULL|     THAMKUNANON|NULL|  19|  NITCHAYANIN|
|  6480963| ICCI|  Mr.|Sirinuttawat|      NULL|   Supavachapong|NULL|NULL| SIRINUTTAWAT|
|  6481101| ICCI|  Mr.|      Pranai|      NULL|     TISAYATIKOM| 1.9|  25|       PRANAI|
|  6481324| ICCI|  Mr.|   Karndanai|      NULL|UDOMSIRIPHOCKSAI| 1.7|NULL|    KARNDANAI|
|  6481178| ICCI|  Mr.|     Promsan|      NULL|    PANASAKULKAN|NULL|NULL|      PROMSAN|
|  6481366| ICCS|  Ms.|   Chinanard|      NULL|      SATHITSETH|NULL|NULL|    CHINANARD|
|  6480358| ICCI|  Mr.|    Rapeepat|      NULL|   Pokpattanakul|NULL|  20|     RAPEEPAT|
|  6480376| ICCI|  Ms.|    Jitsopin|      NULL|      Kanthaulis| 1.6|  15|     JITSOPIN|
|  6581117| ICCI|  Mr.|    Supakorn|      NULL|        PANYADEE|NULL|NULL|     SUPAKORN|
|  6481322| ICCI|  Mr.|        Mark| Kittiphat|   KUPRASERTWONG| 3.0|NULL|         MARK|
|  6580043| ICCI|  Mr.|       Pakin|      NULL|  PANAWATTANAKUL|NULL|NULL|        PAKIN|
|  6480125| ICCI|  Mr.|     Pachara|      NULL|     Akkanwanich| 2.5|  20|      PACHARA|
+---------+-----+-----+------------+----------+----------------+----+----+-------------+
only showing top 20 rows

In [116]:
dataframe = dataframe.drop("Name")
dataframe = dataframe.withColumnRenamed("UppercaseName","Name")

Fill in GPA/age using its avg

In [117]:
from pyspark.sql.functions import avg

In [118]:
#fill in GPA
dataframe = dataframe.fillna(dataframe.select(avg(dataframe['GPA'])).collect()[0][0],['GPA'])

In [119]:
dataframe.show()

+---------+-----+-----+----------+----------------+---+----+------------+
|StudentID|Major|Title|MiddleName|        LastName|GPA| AGE|        Name|
+---------+-----+-----+----------+----------------+---+----+------------+
|  6481205| ICCI|  Mr.|      NULL|     TANALAKWONG|2.5|NULL|   THANAPOOM|
|  6580195| ICCI|  Mr.|      NULL| CHITBURANACHART|2.5|  18|       PIBHU|
|  6481152| ICCI|  Mr.|      NULL|         KANNGAN|2.5|NULL|       TIPOK|
|  6481221| ICCI|  Mr.|      NULL|        TEERAKIJ|2.4|  26|     TEETATH|
|  6580871| ICCI|  Ms.|      NULL|  KULPORNPAISARN|2.5|  15|    THITIRAT|
|  6580065| ICCI|  Ms.|      NULL|    PHISUTPICHET|2.5|  17|    PITCHAPA|
|  6481305| ICCI|  Mr.|      NULL|        KHUNTONG|2.5|NULL|   SUTTIKARN|
|  6480539| ICCI|  Mr.|          |     Thaksinorot|2.5|  20|  PROMPIRIYA|
|  6580081| ICCI|  Ms.|      NULL|     THAMKUNANON|2.5|  19| NITCHAYANIN|
|  6480963| ICCI|  Mr.|      NULL|   Supavachapong|2.5|NULL|SIRINUTTAWAT|
|  6481101| ICCI|  Mr.|      NULL|     TISAYATIKOM|1.9|  25|      PRANAI|
|  6481324| ICCI|  Mr.|      NULL|UDOMSIRIPHOCKSAI|1.7|NULL|   KARNDANAI|
|  6481178| ICCI|  Mr.|      NULL|    PANASAKULKAN|2.5|NULL|     PROMSAN|
|  6481366| ICCS|  Ms.|      NULL|      SATHITSETH|2.5|NULL|   CHINANARD|
|  6480358| ICCI|  Mr.|      NULL|   Pokpattanakul|2.5|  20|    RAPEEPAT|
|  6480376| ICCI|  Ms.|      NULL|      Kanthaulis|1.6|  15|    JITSOPIN|
|  6581117| ICCI|  Mr.|      NULL|        PANYADEE|2.5|NULL|    SUPAKORN|
|  6481322| ICCI|  Mr.| Kittiphat|   KUPRASERTWONG|3.0|NULL|        MARK|
|  6580043| ICCI|  Mr.|      NULL|  PANAWATTANAKUL|2.5|NULL|       PAKIN|
|  6480125| ICCI|  Mr.|      NULL|     Akkanwanich|2.5|  20|     PACHARA|
+---------+-----+-----+----------+----------------+---+----+------------+
only showing top 20 rows

In [120]:
#fill in age
dataframe = dataframe.fillna(dataframe.select(avg(dataframe['age'])).collect()[0][0],['age'])

In [121]:
dataframe.show()

+---------+-----+-----+----------+----------------+---+---+------------+
|StudentID|Major|Title|MiddleName|        LastName|GPA|AGE|        Name|
+---------+-----+-----+----------+----------------+---+---+------------+
|  6481205| ICCI|  Mr.|      NULL|     TANALAKWONG|2.5| 20|   THANAPOOM|
|  6580195| ICCI|  Mr.|      NULL| CHITBURANACHART|2.5| 18|       PIBHU|
|  6481152| ICCI|  Mr.|      NULL|         KANNGAN|2.5| 20|       TIPOK|
|  6481221| ICCI|  Mr.|      NULL|        TEERAKIJ|2.4| 26|     TEETATH|
|  6580871| ICCI|  Ms.|      NULL|  KULPORNPAISARN|2.5| 15|    THITIRAT|
|  6580065| ICCI|  Ms.|      NULL|    PHISUTPICHET|2.5| 17|    PITCHAPA|
|  6481305| ICCI|  Mr.|      NULL|        KHUNTONG|2.5| 20|   SUTTIKARN|
|  6480539| ICCI|  Mr.|          |     Thaksinorot|2.5| 20|  PROMPIRIYA|
|  6580081| ICCI|  Ms.|      NULL|     THAMKUNANON|2.5| 19| NITCHAYANIN|
|  6480963| ICCI|  Mr.|      NULL|   Supavachapong|2.5| 20|SIRINUTTAWAT|
|  6481101| ICCI|  Mr.|      NULL|     TISAYATIKOM|1.9| 25|      PRANAI|
|  6481324| ICCI|  Mr.|      NULL|UDOMSIRIPHOCKSAI|1.7| 20|   KARNDANAI|
|  6481178| ICCI|  Mr.|      NULL|    PANASAKULKAN|2.5| 20|     PROMSAN|
|  6481366| ICCS|  Ms.|      NULL|      SATHITSETH|2.5| 20|   CHINANARD|
|  6480358| ICCI|  Mr.|      NULL|   Pokpattanakul|2.5| 20|    RAPEEPAT|
|  6480376| ICCI|  Ms.|      NULL|      Kanthaulis|1.6| 15|    JITSOPIN|
|  6581117| ICCI|  Mr.|      NULL|        PANYADEE|2.5| 20|    SUPAKORN|
|  6481322| ICCI|  Mr.| Kittiphat|   KUPRASERTWONG|3.0| 20|        MARK|
|  6580043| ICCI|  Mr.|      NULL|  PANAWATTANAKUL|2.5| 20|       PAKIN|
|  6480125| ICCI|  Mr.|      NULL|     Akkanwanich|2.5| 20|     PACHARA|
+---------+-----+-----+----------+----------------+---+---+------------+
only showing top 20 rows

Calculate graduation year

In [122]:
def calGradYr(stuId):
  yrEntered = str((stuId - (stuId % 100000))).rstrip('0')
  yrEntered = "25"+yrEntered #2564/2565
  gradYr = (int(yrEntered)+5)-543
  #actually 64 should graduate in 25 and 65 in 26 logically but in order to follow this task,
  #i have to +5 instead of +4
  return gradYr

In [123]:
gradYrUDF = udf(lambda z : calGradYr(z)) # create udf

In [124]:
dataframe = dataframe.withColumn("GraduatedYear",gradYrUDF("StudentID"))

In [125]:
dataframe.show()

+---------+-----+-----+----------+----------------+---+---+------------+-------------+
|StudentID|Major|Title|MiddleName|        LastName|GPA|AGE|        Name|GraduatedYear|
+---------+-----+-----+----------+----------------+---+---+------------+-------------+
|  6481205| ICCI|  Mr.|      NULL|     TANALAKWONG|2.5| 20|   THANAPOOM|         2026|
|  6580195| ICCI|  Mr.|      NULL| CHITBURANACHART|2.5| 18|       PIBHU|         2027|
|  6481152| ICCI|  Mr.|      NULL|         KANNGAN|2.5| 20|       TIPOK|         2026|
|  6481221| ICCI|  Mr.|      NULL|        TEERAKIJ|2.4| 26|     TEETATH|         2026|
|  6580871| ICCI|  Ms.|      NULL|  KULPORNPAISARN|2.5| 15|    THITIRAT|         2027|
|  6580065| ICCI|  Ms.|      NULL|    PHISUTPICHET|2.5| 17|    PITCHAPA|         2027|
|  6481305| ICCI|  Mr.|      NULL|        KHUNTONG|2.5| 20|   SUTTIKARN|         2026|
|  6480539| ICCI|  Mr.|          |     Thaksinorot|2.5| 20|  PROMPIRIYA|         2026|
|  6580081| ICCI|  Ms.|      NULL|     THAMKUNANON|2.5| 19| NITCHAYANIN|         2027|
|  6480963| ICCI|  Mr.|      NULL|   Supavachapong|2.5| 20|SIRINUTTAWAT|         2026|
|  6481101| ICCI|  Mr.|      NULL|     TISAYATIKOM|1.9| 25|      PRANAI|         2026|
|  6481324| ICCI|  Mr.|      NULL|UDOMSIRIPHOCKSAI|1.7| 20|   KARNDANAI|         2026|
|  6481178| ICCI|  Mr.|      NULL|    PANASAKULKAN|2.5| 20|     PROMSAN|         2026|
|  6481366| ICCS|  Ms.|      NULL|      SATHITSETH|2.5| 20|   CHINANARD|         2026|
|  6480358| ICCI|  Mr.|      NULL|   Pokpattanakul|2.5| 20|    RAPEEPAT|         2026|
|  6480376| ICCI|  Ms.|      NULL|      Kanthaulis|1.6| 15|    JITSOPIN|         2026|
|  6581117| ICCI|  Mr.|      NULL|        PANYADEE|2.5| 20|    SUPAKORN|         2027|
|  6481322| ICCI|  Mr.| Kittiphat|   KUPRASERTWONG|3.0| 20|        MARK|         2026|
|  6580043| ICCI|  Mr.|      NULL|  PANAWATTANAKUL|2.5| 20|       PAKIN|         2027|
|  6480125| ICCI|  Mr.|      NULL|     Akkanwanich|2.5| 20|     PACHARA|         2026|
+---------+-----+-----+----------+----------------+---+---+------------+-------------+
only showing top 20 rows

Show id, name, gpa, graduation year

In [126]:
dataframe.createOrReplaceTempView("student")

In [141]:
dataframe = spark.sql("select StudentID,Name, GPA, GraduatedYear from student order by StudentID")

In [142]:
dataframe.show()

+---------+------------+---+-------------+
|StudentID|        Name|GPA|GraduatedYear|
+---------+------------+---+-------------+
|  6480125|     PACHARA|2.5|         2026|
|  6480138|      PAVORN|2.9|         2026|
|  6480358|    RAPEEPAT|2.5|         2026|
|  6480376|    JITSOPIN|1.6|         2026|
|  6480539|  PROMPIRIYA|2.5|         2026|
|  6480566|     NORAWAT|2.5|         2026|
|  6480963|SIRINUTTAWAT|2.5|         2026|
|  6481054|     EAKAWIT|2.5|         2026|
|  6481101|      PRANAI|1.9|         2026|
|  6481152|       TIPOK|2.5|         2026|
|  6481176|    CHARUPAT|3.6|         2026|
|  6481178|     PROMSAN|2.5|         2026|
|  6481205|   THANAPOOM|2.5|         2026|
|  6481221|     TEETATH|2.4|         2026|
|  6481299|    THANANYA|2.5|         2026|
|  6481305|   SUTTIKARN|2.5|         2026|
|  6481322|        MARK|3.0|         2026|
|  6481324|   KARNDANAI|1.7|         2026|
|  6481366|   CHINANARD|2.5|         2026|
|  6580043|       PAKIN|2.5|         2027|
+---------+------------+---+-------------+
only showing top 20 rows

Export back to csv

In [143]:
dataframe.write.csv('student_updated.csv',header = 'true')